SECRET_KEY=django-insecure-uu$@te+1r^m02zpr@+s&p1%brj@u7i)!+zdl%c%2#=gc_8vkgl
DB_NAME=UPTMHH
DB_USER=root
DB_PASSWORD=
DB_HOST=db
DB_PORT=3306
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-email-password
