asgiref==3.11.1
black==24.1.1
branca==0.8.2
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.1.7
crispy-bootstrap4==2023.1
decorator==5.2.1
Django==5.2.14
django-crispy-forms==2.1
django-debug-toolbar==6.3.0
django-filter==25.2
folium==0.20.0
future==1.0.0
geocoder==1.38.1
idna==3.13
Jinja2==3.1.6
MarkupSafe==3.0.3
mypy-extensions==1.0.0
mysqlclient==2.2.1
numpy==2.2.6
packaging==23.2
pathspec==0.12.1
pillow==10.2.0
platformdirs==4.2.0
python-dotenv==1.2.2
ratelim==0.1.6
requests==2.33.1
six==1.17.0
sqlparse==0.4.4
tomli==2.4.1
typing_extensions==4.15.0
urllib3==2.6.3
xyzservices==2026.3.0
