{% extends 'static_pages/base.html' %}
{% load static %}

{% block column-size %}col-md-12{% endblock column-size %}

{% block content %}
<div class="content-section">
<div style="border: solid 1px black;">
<h1 class="text-center">
    <img src="/media/uptmlogo.png" alt="" class="img-fluid" style="width: 10%;">
    Frequently Ask Question (FAQ)
    <img src="/media/uptmlogo.png" alt="" class="img-fluid" style="width: 10%;">
</h1>
    <h4 class="text-justify text-center" style="line-height: 1.6;">
        <u>How do I create an account on the website?</u>
    <p class="h6">Click on the "Register" button located on the website's navigation bar.</p>
    </h4>
    <hr>
    <h4 class="text-justify text-center" style="line-height: 1.6;">
        <u>What information do I need to provide when creating a housing advertisement?</u>
    </h4>
    <p class="h6 text-center">
        Fill out the required fields in the housing advertisement form, including:<br>
        1. title<br>2. description<br>3. gender<br>4. number of people<br>5. Deposit<br>6. Monthly Payment<br>7. Utilities include (checkbox)<br>8. Furnished type<br>9. Furnished items<br>10. Facilities<br>11. Accessibilities<br>12. Address<br>12. Images
        </p>
    <hr>
    <h4 class="text-justify text-center" style="line-height: 1.6;">
        <u>Can I edit or delete my housing advertisements after posting them?</u>
    <p class="h6">Log in to your account and navigate your profile. Find the ad you want to edit or delete and just click the edit or delete button to do the action.</p>
    </h4>
    <hr>
    <h4 class="text-justify text-center" style="line-height: 1.6;">
        <u>How can I search for specific types of housing ads?</u>
    <p class="h6">Use the search bar or filters provided on the website to narrow down the listings based on criteria such as:<br>1. Title<br>2. Gender<br>3. Number of people<br>4. Monthly payment range<br>5. Deposit range</p>
    </h4>
    <hr>
    <h4 class="text-justify text-center" style="line-height: 1.6;">
        <u>How can I contact the owner or poster of a housing advertisement?</u>
    <p class="h6">Use the contact information provided in the housing ad, such as email address or phone number, to reach out to the owner or poster.</p>
    </h4>
    <hr>
    <h4 class="text-justify text-center" style="line-height: 1.6;">
        <u>How often are housing advertisements updated on the website?</u>
    <p class="h6">Check the website regularly for new listings and updates to existing ones. The ads will be post after it got verified by the administrator</p>
    </h4>
    <hr>
    <h4 class="text-justify text-center" style="line-height: 1.6;">
        <u>Can I save or bookmark housing ads for future reference?</u>
    <p class="h6">The functionality for bookmark and saving housing ads is not yet applied in this website. Sorry for the inconvenience</p>
    </h4>
    <h4 class="text-justify text-center" style="line-height: 1.6;">
        <u>What to do if I forgot my password?</u>
    <p class="h6">Go to the login page, there is forgot password button at the right of the login button. Insert your email that registered with your account and follow all the step that will be given through email</p>
    </h4>
    <h4 class="text-justify text-center" style="line-height: 1.6;">
        <u>How do I make a bullet point list for furnished item, facilities and accessibilities</u>
    <p class="h6">In order to make a bullet point list, use comma(',') after every item you enter</p>
    </h4>
</div>
<hr>
<div class="d-flex justify-content-center">
<div style="border: 1px solid black; width: fit-content;" class="content-section justify-content-center">
    <h4 class="text-center">Contact Information</h4>
    <p class="text-center">Email: syedaidid584@gmail.com<br>Phone: 011 3706 4797</p>
</div></div>
{% endblock content %}