{% extends 'static_pages/base.html' %}
{% load static %}

{% block column-size %}col-md-12{% endblock column-size %}

{% block content %}
<div class="content-section">
<h1 class="text-center">What is UPTM Housing Hub?</h1>
<h4 class="text-justify" style="line-height: 1.6;">The
    UPTM Housing Registration
    System seeks to establish a centralized web
    platform to replace the present reliance on MPP
    Instagram stories and
    Telegram groups for housing and roommate searches.
    This platform will be
    aimed to improve organization and accessibility for
    UPTM students by offering
    a simple interface for publishing and locating
    housing-related information. The
    system will prioritize transparency in housing
    listings by providing
    comprehensive and accurate information about
    available rooms and rental
    agreements. The product will act as a comprehensive
    resource for students,
    increasing the overall efficiency of the housing
    hunt.
</h4><hr>
<h4>Objectives of this websites is to: </h4>
<ul>
    <li class="h5" style="line-height: 1.5;"><strong>To
            develop centralized
            platforms:</strong> The primary
        goal is to replace current
        reliance on MPP's Instagram stories and Telegram
        groups with a centralized
        web platform for housing ads and roommate
        searching. This established
        approach is intended to improve organization and
        accessibility for UPTM
        students.</li>
    <li class="h5" style="line-height: 1.5;">
        <strong>To integrate real-time updates:</strong>
        This goal entails
        providing features that
        enable real-time updates within the centralized
        platform. These features are
        designed to ensure that students have immediate
        access to the latest
        information by enabling them to view new posts
        seamlessly.
    </li>
    <li class="h5" style="line-height: 1.5;">
        <strong>promote transparency in
            listings:</strong>
        Implement
        aspects that enhance
        transparency in housing advertisements, such as
        extensive and accurate
        information about available rooms, and rental
        agreements. This transparency
        enables students to make more informed decisions
    </li>
    <ul>
</div>
{% endblock content %}