{% extends 'static_pages/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block column-size %}col-md-8{% endblock column-size %}

{% block sidebar %}
  <div class="col-md-4">
    <div class="content-section position-fixed">
      <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ object.user.profile.image.url }}" alt="Card image cap">
      <div class="card-body">
         <h5 class="card-title">{{object.user.username}}</h5>
         <p class="card-text mb-0">Name: {{ object.user.profile.name }}</p>
         <p class="card-text mb-0">Phone Number: {{ object.user.profile.phone_number }}</p>
         <p class="card-text">Email: {{ object.user.email }}</p>
         <div class="text-center">
            <a href="#" class="btn btn-primary">Go somewhere</a>
         </div>
   </div>
</div>
    </div>
  </div>
{% endblock sidebar %}
{% block content %}
<article class="media content-section">
   <img class="rounded-circle article-img"
      src="{{ object.user.profile.image.url }}" />
   <div class="media-body">
      <div class="article-metadata">
         <a class="mr-2" href="#">{{ object.user }}</a>
         <small class="text-muted">{{ object.date_posted }}</small>
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <h3>RM {{ object.monthly_payment}}/Month</h3>
      <hr />
      <p class="article-content">{{ object.description }}</p>
      <h4>Deposit</h4>
      <p>RM{{ object.deposit}}</p>
      {% if object.furnished %}
      <h4>Furnished Items:</h4>
      <ul>
         {% for item in object.furnished %}
         <li>{{ item }}</li>
         {% endfor %}
      </ul>
      <br>
      {% endif %}
      {% if object.facilities %}
      <h4>Facilities:</h4>
      <ul>
         {% for facility in object.facilities %}
         <li>{{ facility }}</li>
         {% endfor %}
      </ul>
      {% endif %}
      {% if object.accessibilities%}
      <h4>Accessibility:</h4>
      <ul>
         {% for accessibility in object.accessibilities%}
         <li>{{ accessibility }}</li>
         {% endfor %}
      </ul>
      {% endif %}
   </div>
   <div>
      {% if object.gender == 'male' %}
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gender-male" viewBox="0 0 16 16">
         <path fill-rule="evenodd" d="M9.5 2a.5.5 0 0 1 0-1h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.707L9.871 6.836a5 5 0 1 1-.707-.707L13.293 2zM6 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8" />
      </svg>
      {% else %}
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gender-female" viewBox="0 0 16 16">
         <path fill-rule="evenodd" d="M8 1a4 4 0 1 0 0 8 4 4 0 0 0 0-8M3 5a5 5 0 1 1 5.5 4.975V12h2a.5.5 0 0 1 0 1h-2v2.5a.5.5 0 0 1-1 0V13h-2a.5.5 0 0 1 0-1h2V9.975A5 5 0 0 1 3 5" />
      </svg>
      {% endif %}
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15"
         fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
         <path
            d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
      </svg>
      <small>{{ object.number_of_people }}</small>
   </div>
</article>
{% if object.images.all %}
<div id="carousel-{{ object.id }}" class="carousel mb-4" data-interval="false">
   <!-- Indicators -->
   <ul class="carousel-indicators">
      {% for image in object.images.all %}
      <li data-target="#carousel-{{ object.id }}"
      data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" {% endif %}></li>
      {% endfor %}
   </ul>
   <!-- The slideshow -->
   <div class="carousel-inner">
      {% for image in object.images.all %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
         <div class="d-block w-100 aspect-ratio-container">
            <a href="{{ image.image.url }}" target="_blank">
            <img src="{{ image.image.url }}" alt="Slide {{ forloop.counter }}"
               class="img-fluid aspect-ratio-item" style="object-fit: contain;"/>
            </a>
         </div>
      </div>
      {% endfor %}
   </div>
   <!-- Left and right controls -->
   <a class="carousel-control-prev" href="#carousel-{{ object.id }}"
      data-slide="prev"><span class="carousel-control-prev-icon"></span></a>
   <a class="carousel-control-next" href="#carousel-{{ object.id }}"
      data-slide="next"><span class="carousel-control-next-icon"></span></a>
</div>
{% endif %}
{% if m %}
<div class="container mb-4">{{ m|safe }}</div>
{% endif %}
{% if object.user == user %}
<a class="btn btn-info" href="{% url 'post-update' object.id %}">Update</a>
<a class="btn btn-danger" href="{% url 'post-delete' object.id %}">delete</a>
{% endif %}
{% endblock %}
