{% extends 'static_pages/base.html' %}
{% block content %}
<div class="container-post">
    <div class="item1">Pic</div>
    <div class="item2">Name</div>
    <div class="item3">time</div>
    <div class="item4">total</div>
    <div class="item5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint voluptatem, excepturi porro voluptatum laborum fuga molestiae nemo magnam corrupti rerum veniam sit alias minus asperiores sapiente nobis assumenda unde debitis!</div>
    <div class="item6">Image</div>
    <div class="item7">Like</div>
</div>
<div class="container-post">
    <div class="item1">Pic</div>
    <div class="item2">Name</div>
    <div class="item3">time</div>
    <div class="item4">total</div>
    <div class="item5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint voluptatem, excepturi porro voluptatum laborum fuga molestiae nemo magnam corrupti rerum veniam sit alias minus asperiores sapiente nobis assumenda unde debitis!</div>
    <div class="item6">Image</div>
    <div class="item7">Like</div>
</div>
{% endblock %}
