<!-- create.html -->
{% extends 'static_pages/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group mb-0">
        <legend class="border-bottom mb-4">Post</legend>
        {{ form|crispy }}
      </fieldset>
      {% comment %} <fieldset class="form-group mb-0">
        <legend class="border-bottom mb-4">Images</legend>
        {{ imageform|crispy }}
      </fieldset> {% endcomment %}
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Post</button>
      </div>
    </form>

    <form method="post" action="{% url 'post-delete-images' %}">
    {% csrf_token %}
    <div class="row">
        {% for image in post.images.all %}
        <div class="col-md-3">
            <div class="custom-control custom-checkbox image-checkbox">
            <input type="checkbox" class="custom-control-input" id="ck{{ image.id }}" name="selected_images" value="{{ image.id }}" />
            <label class="custom-control-label" for="ck{{ image.id }}"><img src="{{ image.image.url }}" alt="Image" class="img-fluid" /></label>
            </div>
        </div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-danger">Delete Selected Images</button>
    </form>


  </div>
{% endblock %}
